*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  margin: 0 auto;

  // border: 3px solid;
}
@media screen and (max-width: 1400px) {
  body {
    width: 100%;
  }
}
@media screen and (max-width: 1162px) {
  body {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 40rem;
  }
  .container {
  }
}

.container {
  max-width: 145rem;

  position: relative;
  margin: 0 auto;
  border-radius: 5px;
}

.scrollUp {
  position: absolute;
  z-index: 999;
  font-size: 36px;
  background-color: lightblue;
  outline: none;
  border: none;
  padding: 1.5rem;
  border-radius: 7px;
  cursor: pointer;
  top: 80%;
  position: fixed;
  right: 5%;
  opacity: 0;
  transition: all 0.1s;

  &:hover {
    background-color: rgb(169, 242, 255);
  }
  &:active {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 900px) {
  body {
    width: 100%;
  }
}
