.navbar {
  font-size: 16px;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 5rem;

  &__logo {
    // margin-right: 30rem;
    margin-top: 1rem;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    column-gap: 5rem;
    justify-content: end;
  }

  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-self: center;
    justify-content: center;

    list-style: none;
    a {
      z-index: 999;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        border-top: 1px solid;
        border-bottom: 1px solid;
        transition: all 0.5s;
        opacity: 0;
      }
      &:hover {
        cursor: pointer;

        &::before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  &__link {
    justify-self: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    transition: all 0.1s;

    // &:hover {
    //   &::before {
    //     width: 100%;
    //   }
    // }
  }
}

@media screen and(max-width: 1400px) {
  .navbar {
    width: 90%;

    &__list {
      column-gap: 3rem;
    }
    &__link {
      font-size: 14px;
    }
  }
}

@media screen and(max-width: 1162px) {
  .navbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 2rem;
    padding-top: 1rem;

    &__logo {
      margin: 0;
      display: none;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: start;
      column-gap: 1rem;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
      }
    }
    &__link {
      font-size: 14px;
    }
  }
}

@media screen and(max-width: 900px) {
  .navbar {
    display: flex;
    margin: 0;
    margin-bottom: 2rem;
    padding-top: 1rem;
    &__list {
    }

    &__item {
      justify-content: center;
    }

    &__link {
      font-size: 12px;
    }
  }
}
